# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers d’environnement secrets
.env

# Dossiers de sortie / images extraites

#data/raw/
/figures/pdf_images/
/figures/web_photos/

# Jupyter / notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log