# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# token and other passwords
.env

# remove files "heavy"
# data/raw/pdfs

# artifacts pictures use is restricted but you can see the pictures by downloading pdf file or click on link
/figures/pdf_images/
/figures/web_photos/

# Jupyter / notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log